/**
 * Basic styling
 */

body {
  font-family: 'AvenirNextLTW01-Regular', Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: -0.36px;
  color: #00194e;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
.demo-container {
  font-family: 'AvenirNextLTW01-Regular', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

p {
  letter-spacing: -0.36px;
}

/**
* Images
*/
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
* Clearfix
*/
%clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/**
* Icons
*/
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.icon path {
  fill: $grey-color;
}

a {
  text-decoration: none;
}

form {
  margin-bottom: 0;
}
